/* Base */

:root {
    $main-background-color: white;
}

html {
	box-sizing: border-box;
	font-size: 100%;
}

* {
	box-sizing: inherit;
	&::before {
		box-sizing: inherit;
	}
	&::after {
		box-sizing: inherit;
	}
}

body {
	margin: 0;
	padding: 0;
}

hr {
	border: none;
	background-color: #4e4e4e;
	color: black;
	height: 1px;
}
