/* Colors */
$e-white: #ffffff;
$e-charcoal-gray: #333333;
$e-dark-gray: #212121;
$e-light-blue: #5cadff;
$e-blue: #3f8bd8;
$e-deep-dark-blue: #425784;
$e-red: #ff2616; 
$e-green: #53db57;
$e-eggshell: #f8f9fa;

.e-white {
    background-color: $e-white;
}

.e-eggshell {
    background-color: $e-eggshell;
}

.e-charcoal-gray{
    background-color: $e-charcoal-gray;
    color: #ffffff;
}

.e-dark{
    color: #ffffff;
}

.e-dark-gray {
    background-color: $e-dark-gray;
    color: #ffffff;
}

.e-light-blue{
    background-color: $e-light-blue;
    color: #ffffff;
}

.e-deep-dark-blue {
    background-color: $e-deep-dark-blue;
    color: #ffffff;
}

.e-red{
    background-color: $e-red;
    color: #ffffff;
}

.e-green{
    background-color: $e-green;
    color: #ffffff;
}


.blue-gradiant {
    background: linear-gradient(#5cadff,#246bb2);
}

